<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.diaryMapper">
      <!-- 게시글 가져오기 -->
      <select id="diaryList" resultType="com.smhrd.domain.diary">
          select * from diary3
      </select>
      
      <insert id="diarywrite" parameterType="com.smhrd.domain.diary">
          insert into diary3(diary_title, diary_content, u_id, weather,diary_pos,diary_neg, filename1)
          values(#{diary_title}, #{diary_content},#{u_id},#{weather},#{diary_pos},#{diary_neg}, #{filename1})
      </insert>
      
      <select id="diaryContent" resultType="com.smhrd.domain.diary">
          select * from diary3
          where diary_seq = #{diary_seq}
      </select>
      
      <update id="diaryUpdate" parameterType="com.smhrd.domain.diary">
          update diary3
          set diary_title = #{diary_title}, diary_content = #{diary_content}, diary_pos = #{diary_pos}, diary_neg = #{diary_neg},
          filename1=#{filename1}
          where diary_seq = #{diary_seq}
      </update>
</mapper>