<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
/* Fontawesome 4.7 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;  
  font-family: 'ABeeZee', sans-serif;
}



.container{
  display: flex;
  justify-content: center;
}

/* 달력 */

.rap {
  max-width: 1500px;
  padding: 0 1.4rem;
  margin-top: .3rem;
  width: 750px;
}

.dateHead {
  margin-bottom: .4rem;
}

.dateHead div {
  background: #e4beb3;
  color: #fff;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid div {
  padding: .6rem;
  font-size: .9rem;
  cursor: pointer;
}

.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 10rem;
  padding: .6rem .8rem;
  border-radius: .6rem;
  border: 1px solid #eee;
}

.noColor {
  background: #eee;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}
@keyframes today_btn {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.to_btn{
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.today_btn{
  position:relative;
  display: flex;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  color: white;
  text-align: center;
  border: none;
}
.today_btn:hover{
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.btn {
 display: block;
 width: 20px;
 height: 20px;
 border: 3px solid #000;
 border-width: 3px 3px 0 0;
 cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}

.today{
  background: #e4beb3;
}


/* 모달 */

.modal_Wrap { /*모달창에 전체틀*/
  display: none;
  position: fixed;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_Content { /*모달창의 메인*/
  margin: auto;
  padding: 20px;
  width: 30%;
  border: 1px solid grey;
  background-color: #fff;
}

.modal_Content p { /*모달창의 본문*/
  font-size: 20px;
  font-weight: bold;
}

.close { /*모달창을 닫는 X버튼*/
  float: right;
  color: grey;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus { /*X버튼에 마우스가 올라가거나 요소가 선택된 경우, 이벤트 상태 일때 실행*/
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*---------일기---------------------*/
textarea{
  resize: none;
  width: 100%;
  padding: 5px 5px 5px 5px;
  font-family: 'Single Day', cursive;
}

.title{
  overflow: hidden;
  font-size: 20px;
}

.next_diary{
  display: flex;
  margin: auto;
}

.sub_btn{
  display: flex;
  margin: auto;
}



/*--------------탭 메뉴-------------*/
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
  display: inline-block;
	background: #898989;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #e0e0e0;
	color: #222;
}

.tab-content{
  display: none;
	background: #e0e0e0;
	padding: 12px;
}

.tab-content.current{
	display: inherit;
}

/*-------아이콘------------*/
.icon{
  list-style:none;
  color: gray;
  display: flex;
}

.icon li{
  padding:8px 12px
}

.i_wheather{
  cursor: pointer;
}
=======
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
/* Fontawesome 4.7 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
/* Fontawesome 4.7 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;  
  font-family: 'ABeeZee', sans-serif;
}



.container{
  display: flex;
  justify-content: center;
}

/* 달력 */

.rap {
  max-width: 1500px;
  padding: 0 1.4rem;
  margin-top: .3rem;
  width: 100%;
}

.dateHead {
  margin-bottom: .4rem;
}

.dateHead div {
  background: #e4beb3;
  color: #fff;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid div {
  padding: .6rem;
  font-size: .9rem;
  cursor: pointer;
}

.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 10rem;
  padding: .6rem .8rem;
  border-radius: .6rem;
  border: 1px solid #eee;
}

.noColor {
  background: #eee;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}
@keyframes today_btn {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.to_btn{
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.today_btn{
  position:relative;
  display: flex;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background: linear-gradient(-45deg, #dbafb8 0%, #db9d9d 100%);
  color: white;
  text-align: center;
  border: none;
}
.today_btn:hover{
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.btn {
 display: block;
 width: 20px;
 height: 20px;
 border: 3px solid #000;
 border-width: 3px 3px 0 0;
 cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}

.today{
  background: #e4beb3;
}


/* 모달 */

.modal_Wrap { /*모달창에 전체틀*/
  display: none;
  position: fixed;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_Content { /*모달창의 메인*/
  margin: auto;
  padding: 20px;
  width: 30%;
  border: 1px solid grey;
  background-color: #fff;
}

.modal_Content p { /*모달창의 본문*/
  font-size: 20px;
  font-weight: bold;
}

.close { /*모달창을 닫는 X버튼*/
  float: right;
  color: grey;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.close:hover,
.close:focus { /*X버튼에 마우스가 올라가거나 요소가 선택된 경우, 이벤트 상태 일때 실행*/
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*---------일기---------------------*/
textarea{
  resize: none;
  width: 100%;
  padding: 5px 5px 5px 5px;
  font-family: 'Single Day', cursive;
}

.title{
  overflow: hidden;
  font-size: 20px;
}

.next_diary{
  display: flex;
  margin: auto;
}

.sub_btn{
  display: flex;
  margin: auto;
  border-radius: 5px 5px 5px 5px;
}

#btn_group button{
  border: 1px solid rgb(212, 166, 189);
  background-color: rgba(0,0,0,0);
  color: rgba(216, 65, 166, 0.658);
  padding: 5px;
}
#btn_group button:hover{
  color:white;
  background-color: #e4beb3;
}

.weather_text{
  margin-top: 20px;
}


/*--------------탭 메뉴-------------*/
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
  display: inline-block;
	background: #898989;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #e0e0e0;
	color: #222;
}

.tab-content{
  display: none;
	background: #e0e0e0;
	padding: 12px;
}

.tab-content.current{
	display: inherit;
}

/*-------아이콘------------*/
.icon{
  list-style:none;
  color: gray;
  display: flex;
}

.icon li{
  padding:8px 12px
}

.i_wheather{
  cursor: pointer;
}


/* 라디오 버튼 */
.test_obj input[type="radio"] {
  display: none;
}

.test_obj input[type="radio"] + label {
  display: inline-block;
  padding: 15px 10px;
  border: 1px solid #dfdfdf;
  background-color: #e4dede;
  text-align: center;
  cursor: pointer;
}

.test_obj input[type="radio"]:checked + label.fa-sun {
  background-color: #e4dede;
  color: #ff140b;
}

.test_obj input[type="radio"]:checked + label.fa-cloud {
  background-color: #e4dede;
  color: #86d4d6;
}

.test_obj input[type="radio"]:checked + label.fa-cloud-showers-heavy {
  background-color: #e4dede;
  color: #5788f0;
}

.test_obj input[type="radio"]:checked + label.fa-snowflake {
  background-color: #e4dede;
  color: #ffffff;
}}
>>>>>>> branch 'master' of https://github.com/2022-SMHRD-KDT-BigData-5/MORANG.git
